<ol class="breadcrumb"><!--
  <%- breadcrumb_items.each do |album|
    if album[:uri].nil? -%>
      --><li class="active my-page-title"><%= album[:title] %></li><!--
    <%- else -%>
      --><li><a href="<%= album[:uri] %>"><%= album[:title] %></a></li><!--
    <%- end -%>
  <%- end -%>
--></ol>
